html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}


/* ----------header---------- */

.header {
    padding-top: 50px;
    padding-bottom: 68px;
    background: #F7F6FF;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list__item {
    margin-right: 40px;
}

.nav-list__item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.header__authorization {
    display: flex;
    flex-direction: row;
}

.authorization-menu__reg-link {
    width: 171px;
    height: 40px;
    padding: 10px 30px;
    background: #F2F0FE;
    border-radius: 50px;
    margin-right: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1DBF73;
    text-align: center;
}

.authorization-menu__login-link {
    width: 113px;
    height: 40px;
    padding: 10px 30px;
    background: #1DBF73;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #F6FAFD;
}


/* ----------first-screen---------- */

.first-screen {
    background: #F7F6FF;
    padding-bottom: 127px;
    margin-bottom: 109px;
}

.first-screen__main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-screen__wrapper-content {
    width: 596px;
}

.first-screen__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 30px;
}

mark {
    color: #1DBF73;
    background: none;
}

.first-screen__description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 50px;
    width: 532px;
}

.main-form {
    width: 532px;
    position: relative;
}

.main-form__searching {
    position: relative;
    margin-bottom: 50px;
}

.main-form__searching-text {
    width: 532px;
    height: 60px;
    background: #F2F0FE;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 19px;
}

.main-form__searching-text::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #656084;
}

.main-form__searching-button {
    position: absolute;
    right: 0;
    width: 154px;
    height: 60px;
    background: #FBA457;
    border: 3px solid #F2F0FE;
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #F6FAFD;
}

.main-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-style: none;
}

.main-filter__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 30px;
}

.main-filter__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.main-filter__checkbox:checked+label {
    color: #1DBF73;
    font-weight: 600;
    border-color: #1DBF73;
}

.main-filter__label {
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #F2F0FE;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
}

.main-filter__button {
    position: absolute;
    right: 0;
    bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #FBA457;
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FBA457;
    background: none;
}


/* ----------works---------- */

.works {
    margin-bottom: 100px;
}

.works-card,
.freelancers-card {
    width: 420px;
    min-height: 270px;
    padding: 20px;
    border: 1px solid #F2F0FE;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.works-card:hover .works-card__button,
.freelancers-card:hover .freelancers-card__button {
    background: #1DBF73;
    color: #F6FAFD;
}

.works-card:hover,
.freelancers-card:hover {
    box-shadow: 0px 16px 16px rgba(34, 34, 34, 0.04);
    transform: translateY(-5px);
}

.works__wrapper .works-card:nth-child(3n+3),
.freelancers__wrapper .freelancers-card:nth-child(3n+3) {
    margin-right: 0;
}

.works__heading,
.freelancers__heading,
.how-it-works__heading,
.for-business__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 48px;
}

.works__wrapper,
.freelancers__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.works-card__header,
.freelancers-card__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.works-card__image {
    margin-right: 20px;
}

.works-card__heading,
.freelancers-card__heading,
.algorithm__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #222222;
}

.works-card__description,
.freelancers-card__description,
.algorithm__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    margin-bottom: 30px;
}

.works-card__button,
.freelancers-card__button {
    display: block;
    width: 380px;
    height: 41px;
    padding-top: 12px;
    border: 1px solid #1DBF73;
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #1DBF73;
}

.works-card__button-all,
.freelancers-card__button-all {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    background: #F2F0FE;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1DBF73;
}

.freelancers {
    margin: 100px;
}

.freelancers-card__header {
    position: relative;
}

.freelancers-card__image {
    margin-right: 32px;
}

.freelancers-card__name--online::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    background-color: #1DBF73;
}

.freelancers-card__name--offline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 100px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 19px;
    background-color: #B0AAD0;
}

.freelancer-card__info {
    text-align: left;
}

.freelancers-card__name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 12px;
}

.freelancers-card__speciality {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FBA457;
    margin-bottom: 10px;
}

.freelancers-card__projects-done {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    margin-bottom: 10px;
}

.how-it-works {
    margin-bottom: 100px;
}

.how-it-works__heading {
    margin-bottom: 20px;
}

.how-it-works__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 50px;
}

.how-it-works__algorithm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.algorithm__item {
    position: relative;
    width: 400px;
    padding-top: 100px;
}

.algorithm__heading {
    margin-bottom: 20px;
}

.choose__heading::before {
    content: url('../images/img-choose.svg');
    position: absolute;
    top: 0;
    left: 0;
}

.pay__heading::before {
    content: url('../images/img-pay.svg');
    position: absolute;
    top: -7px;
    left: 0;
}

.result__heading::before {
    content: url('../images/img-result.svg');
    position: absolute;
    top: -17px;
    left: 0;
}

.for-business {
    background-image: url("../images/img-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 734px;
    padding-top: 50px;
}

.for-business__heading {
    color: #F6FAFD;
    margin-bottom: 45px;
}

.for-business__wrapper {
    position: relative;
}

.for-business__pay::before {
    content: url('../images/img-credit-card.svg');
    position: absolute;
    left: 20px;
    top: 20px;
}

.for-business__budjet::before {
    content: url('../images/img-money.svg');
    position: absolute;
    left: 20px;
    top: 140px;
}

.for-business__time::before {
    content: url('../images/img-clock.svg');
    position: absolute;
    left: 20px;
    top: 260px;
}

.white-cell {
    width: 533px;
    height: 90px;
    background: #F6FAFD;
    box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-bottom: 30px;
    padding-top: 37px;
    padding-left: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
}

.for-business__time {
    margin-bottom: 50px;
}

.for-business__text {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F6FAFD;
    margin-bottom: 40px;
}

.for-business__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 69px;
    left: 300px;
    top: 3464px;
    background: #5E4EDB;
    border-radius: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #F6FAFD;
}

.footer {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #F2F0FE;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #222222;
    margin-bottom: 30px;
}

.footer__categories-link,
.footer__project-link,
.footer__help-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    margin-bottom: 10px;
}

.social-list {
    display: flex;
}

.footer__social-link {
    margin-right: 30px;
}

.footer__copyright {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #222222;
}